@font-face {
    font-family: "MinionPro";
    src: url('/font/MinionPro-Regular.woff');
}

html,
body {
    padding: 0;
    -webkit-font-smoothing: antialiased;
    background-color: #dadada;
    z-index: -1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    /* Set blend mode to multiply */
    z-index: 1;
    /* Place background behind the content */
}

* {
    box-sizing: border-box;
    font-family: Helvetica;
}

::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

/*BODY*/
p {
    font-family: 'MinionPro', sans-serif;
    font-size: 1.1rem;
    line-height: 1.25;
    margin: 0;
    color: #000000;
    -webkit-text-stroke-width: .6px;
}

a {
    font-family: 'MinionPro', sans-serif;
    font-size: 1.1rem;
    line-height: 1.25;
    margin: 0;
    text-decoration: none;
    color: #000000;
    -webkit-text-stroke-width: .6px;
}

.header>a:hover {
    color: transparent;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.header>p:hover {
    color: transparent;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.container a:first-of-type::after {
    content: "";

}

/*header e footer*/

#difference {
    z-index: 20;
    mix-blend-mode: difference;
    will-change: mix-blend-mode;
    background: rgba(0, 0, 0, 0);
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between; /* Distribute space between elements */
    align-items: center; /* Vertically align */
    z-index: 25;
}


.footer {
    position: absolute;
    bottom: 8px;
    z-index: 20;
}

/*image hover*/
.container {
    margin-top: 20px;
    width: auto;
    display: block;
    word-wrap: break-word;
    max-width: 100%;
    width: 100%;
    -webkit-nbsp-mode: normal;
    --font-scale: 1;
    z-index: 25;
}

.item {
    z-index: 10;
    margin: 0;
    color: #000000;
    border-bottom: 0px solid rgba(127, 127, 127, 0.2);
    position: relative;
}

.item:hover {
    z-index: 10;
    cursor: pointer;
    color: transparent;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

img {
    width: 100%;
    height: auto;
}

video {
    z-index: 0;
    width: 100%;
    height: auto;
}

.item>img {
    position: fixed;
    z-index: 25;
    height: auto;
    width: 40%;
    visibility: hidden;
    transform: translate(-50%, -50%);
    pointer-events: none;
    top: 50%;
    left: 50%;
}

.item>img.visible {
    transition: transform 0.2s ease-in-out;
    visibility: visible;
}

/*MODAL WINDOW*/
.modal {
    display: none;
    position: fixed;
    z-index: 29;
    padding-top: 130px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Modal Content */
.modal-content {
    z-index: 30;
    background-color: white;
    margin: auto;
    padding: 16px;
    border: 1px solid black;
    width: 78%;
    max-height: 70vh;
    max-height: 70svh;
    overflow: auto;
    transition-timing-function: ease-in;
    transition-duration: 250ms;
}

.modal-content > a:hover {
    color: transparent;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

/* The Close Button */
.close {
    width: fit-content;
    color: #000000;
}

.close:hover,
.close:focus {
    color: transparent;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

/* Medium (tablet, 768px and down) */
@media only screen and (max-width: 900px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .item>img {
        width: 80%;
    }

}

/* Effetto hover per i dispositivi che supportano hover */
@media (hover: hover) and (pointer: fine) {
    .modal-content:hover {
        transform: scale(1.02);
        transition-timing-function: ease-in;
        transition-duration: 250ms;
    }
}