@font-face {
    font-family: "MinionPro";
    src: url('/font/MinionPro-Regular.woff') format('woff');
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100svh;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    /*background-color: #dadada;*/
    overflow-y: auto;
    overflow-x: hidden;
    /*overscroll-behavior: none;*/
    cursor: -webkit-grabbing;
    cursor: grabbing;
    background-color: white;
}

* {
    box-sizing: border-box;
    font-family: 'MinionPro', serif;
}

::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

/*BODY*/
p {
    font-family: 'MinionPro', serif;
    font-size: 1.2rem;
    line-height: 1.25;
    margin: 0;
    color: #000000;
    -webkit-text-stroke-width: .8px;
}

a {
    font-family: 'MinionPro', serif;
    font-size: 1.2rem;
    line-height: 1.25;
    margin: 0;
    text-decoration: none;
    color: #000000;
    -webkit-text-stroke-width: .8px;
}

.name {
    position: absolute;
    z-index: 25;
    left: 8px;
    top: 8px;
    mix-blend-mode: difference;
    color: white;
}

.close-page {
    position: absolute;
    z-index: 25;
    right: 8px;
    top: 8px;
    mix-blend-mode: difference;
    color: white;
}

.title {
    position: absolute;
    z-index: 25;
    left: 50%;
    transform: translate(-50%);
    top: 8px;
    mix-blend-mode: difference;
    color: white;
}

.name:hover {
    color: transparent;
    text-shadow: 0 0 3px rgb(255, 255, 255);
}

.close-page:hover {
    color: transparent;
    text-shadow: 0 0 3px rgb(255, 255, 255);
}

.arrow {
    position: absolute;
    right: 8px;
    bottom: 8px;
    z-index: 20;
    height: 100px;
    mix-blend-mode: difference;
}


.image-stack-container {
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
    z-index: 0;
    width: 88%;
    left: 50%;
    translate: -50%;
    max-height: 65svh;
    visibility: hidden;
}

.image-stack-item {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 65svh;
}

.image-stack-container:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition-timing-function: ease-in;
    transition-duration: 500ms;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.comment {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    margin-bottom: 50px;
    visibility: hidden;
}

/* Medium (tablet, 768px and down) */
@media only screen and (max-width: 1000px) {
    .comment {
        margin-left: 8px;
        margin-right: 8px;
        text-align: center;
        margin-bottom: 40px;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .comment {
        margin-left: 8px;
        margin-right: 8px;
        text-align: center;
        margin-bottom: 50px;
    }
}